@import url('https://fonts.googleapis.com/css?family=Fugaz+One|Open+Sans');

body{
	margin: 0;
	width: 100%;
	background-color: #FFFFFF;

}

h1, h2{
	font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
}

p{
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;

}

.wrap{
	width: 100%;
	margin-left: auto;
	margin-right: auto;
	margin-top: 0;
	padding: 0;
}

.navbar{
	margin: 0;
    padding: 0;
    overflow: hidden;
    width: 100%;
	height: 60px;
	background-color: #CCD1D1;
	}

.navbar-link{
	width: 25%;
	margin: 0;
	padding: 0;
	background-color: transparent;
	height: 100%;
	float: left;
	text-align: center;
	padding-top: 5px;
	font-size: 40px;
	border: none;
	font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;

}
.navbar-link:hover {
    background-color: #808B96;
    color: white;  
}

.banner{
	margin: 0px;
	width: 100%;
	padding: 0;
	height: 300px;
	background-color: transparent;
	overflow: hidden;
}

.banner h1 {
  color: #566573;
  text-align: center;
  font-family: "Avant Garde", Avantgarde, "Century Gothic", CenturyGothic, AppleGothic, sans-serif;
  font-size: 4em;
}

.banner p {
  text-align: center;
  font-family: Optima, Segoe, "Segoe UI", Candara, Calibri, Arial, sans-serif;
  color: #666666;
  font-size: 1 em;
}

.banner-text{
	margin: 0;
	padding: 0;
	z-index: 1;
	position: absolute;
    top: 100px;
    left:25%;
    font-size: 50px;
}

.banner-image{
	z-index: 0;
	opacity: 0.2;
	width: 100%;
	margin:0;
	padding:0;
	position: relative;
	top:0;
	left:0;
}

.content{
	margin-left: auto;
	margin-right: auto;
	width: 80%;
	padding: 0;
	text-align: justify;
}

.footer{
	margin: 0;
	padding: 0;
	overflow: hidden;
    width: 100%;
	height: 60px;
	background-color: #2C3E50;
	color: white;
}

.footer-disclaimer{
	width: 100%;
	height: 100%;
	margin: 0;
	padding-top: 2px;
	background-color: transparent;
	text-align: center;
	font-size: 12px;
}

.fixed {
position: fixed;
left: 0px;
top: 0px;
right: 0px;
z-index: 1;
}